{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <ul>
            <li><a href="{% url 'features-map' %}">{{all_object}}</a></li>
            <li><a href="{% url 'feature-list' %}">{{list_object}}</a></li>
            <li><a href="{% url 'maps-view' %}">{{maps}}</a></li>
            <li><a href="https://github.com/togachev/geo" target="_blank">github</a></li>
            <li><a href="{% url 'mvt-smoothed' %}">{{maps_mvt.surgut}}</a></li>
            <li><a href="{% url 'mvt-les' %}">{{maps_mvt.kvartal_les}}</a></li>
        </ul>
    </div>
</div>

{% endblock %}
