{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="list_layer">
        <ul>

            <li><a href="https://github.com/togachev/geo" target="_blank">Проект на github</a></li>
            <li><a href="{% url 'feature-list' %}">Список слоев</a></li>
            <li><a href="{% url 'feature-ol' %}">Openlayers 6</a></li>
            <li><a href="{% url 'feature-olmap' %}">Openlayers 6 test</a></li>
            <li><a href="{% url 'feature-olmap_a' %}">Openlayers 6 a</a></li>
            <li><a href="{% url 'feature-olmap1' %}">Openlayers 6 1</a></li>
        </ul>
</div>

{% endblock %}
