{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead >
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Геометрия</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td><a href="{% url 'res-data' pk=row.id %}">geojson</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
