{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}



{% block content %}




<div id="map" ></div>
<div id="geo-popup" class="geo-popup">
    <div id="geo-popup-closer" class="geo-popup-closer"></div>
    <div id="geo-popup-content" class="geo-popup-content"></div>
</div>

<script>
    var minzoom = [{% for x in styles %}'{{ x.minzoom|escapejs }}',{% endfor %}]
    var maxzoom = [{% for x in styles %}'{{ x.maxzoom|escapejs }}',{% endfor %}]
    var layer_id = [{% for x in styles %}'{{ x.layer_id|escapejs }}',{% endfor %}]
    var house_fill = `<img src="{% static 'images/house-door-fill.svg' %}" class="filterit" alt="">`
</script>

{% render_bundle 'ol' %}
{% endblock %}
