{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="map"></div>


    <script>

                mapboxgl.accessToken = '{{token|safe}}';


        var map = new mapboxgl.Map({
            'container': 'map',

            'zoom': 5,
            'center': [71.460937, 61.804528], // New York
            'style': {
                'version': 8,
                'sources': {
                    'carto-dark': {
                        'type': 'raster',
                        'tiles': [
                            "https://a.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://b.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://c.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://d.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                        ],
                        'tileSize': 256,
                    },
                    'kvartal-layer-tiles': {
                        'type': 'vector',
                        'tiles': [
                            '{{layer_}}'
                        ],
                    },
                },
                'layers': [
                    {
                        'id': 'carto-dark-layer',
                        'type': 'raster',
                        'source': 'carto-dark',
                        'minzoom': 0,
                        'maxzoom': 22
                    },
                    {
                        'id': 'kvartal-tiles-layer',
                        'type': 'fill',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        'minzoom': 0,
                        'maxzoom': 22,
                        'paint': {
                          'fill-opacity': 0
                      },
                    },
                    {
                        'id': 'kvartal-tiles-layer-stroke',
                        'type': 'line',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        'minzoom': 0,
                        'maxzoom': 22,
                        'paint': {
                            'line-width': 0.5,
                            'line-color': 'red',
                            'line-opacity': 1,
                        },
                    },
                ]
            }
        });
        map.on('click', 'kvartal-tiles-layer', (e) => {
            new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML('Квартал: ' + e.features[0].properties.kvartal + '<br>' +
                    'Лесничество: ' + e.features[0].properties.lesnichestvo+ '<br>' +
                    'Участковое лесничество: ' + e.features[0].properties.uch_lesnichestvo + '<br>' +
                    'Урочище: ' + e.features[0].properties.urochishe + '<br>' +
                    'Координаты: ' + Number((e.lngLat.lng).toFixed(6)) + ', ' + Number((e.lngLat.lat).toFixed(6)))
            .addTo(map);
        });

        map.on('mouseenter', 'kvartal-tiles-layer', () => {
        map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'kvartal-tiles-layer', () => {
        map.getCanvas().style.cursor = '';
        });
        map.addControl(new mapboxgl.NavigationControl());
        const scale = new mapboxgl.ScaleControl({
        maxWidth: 100,
        unit: 'imperial'
        });
        map.addControl(scale);
        map.scrollZoom.setWheelZoomRate(1);
        scale.setUnit('metric');


    </script>
{% endblock %}
