{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="map"></div>


    <script>

        mapboxgl.accessToken = '{{token|safe}}';


        var map = new mapboxgl.Map({
            'container': 'map',

            'zoom': 6,
            'center': [69, 61],
            'style': {
                'version': 8,
                'sources': {
                    'carto-dark': {
                        'type': 'raster',
                        'tiles': [
                            "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                        ],
                        'tileSize': 256,
                    },
                    'forest-data': {
                        'type': 'vector',
                        'tiles': [
                            'http://192.168.14.142/geo/layer/1/tile/{z}/{x}/{y}'
                        ]
                    }
                },
                "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
                'layers': [
                    {
                        'id': 'carto-dark-layer',
                        'type': 'raster',
                        'source': 'carto-dark',
                        'minzoom': 0,
                        'maxzoom': 22
                    },
                    {
                        'id': 'contour-les',
                        'type': 'fill',
                        'source': 'forest-data',
                        'source-layer': 'les_data',
                        'minzoom': 0,
                        'maxzoom': 22,
                        'paint': {
                            'fill-outline-color': 'black',
                            'fill-color': 'black',
                            'fill-opacity': 0.1
                        },
                        "filter": [
                          "all",
                          ["==", "type_les", 1]
                        ]
                    },
                    {
                        'id': 'contour-data-highlighted',
                        'type': 'fill',
                        'source': 'forest-data',
                        'source-layer': 'les_data',
                        'paint': {
                        'fill-outline-color': 'red',
                        'fill-color': 'red',
                        'fill-opacity': 0.1
                        },
                        'filter': ['in', 'id', '']
                    },
                    {
                        'id': 'contour-data-stroke',
                        'type': 'line',
                        'source': 'forest-data',
                        'source-layer': 'les_data',
                        "paint": {
                          "line-color": "blue",
                          "line-opacity": 0.8,
                          "line-width": 1,
                          "line-dasharray": [4, 4],
                          "line-gap-width": 0
                        },
                        "layout": {
                          "line-cap": "butt",
                          "line-join": "bevel"
                        },
                        "minzoom": 0,
                        "maxzoom": 22,
                        "filter": [
                          "all",
                          ["==", "type_les", 1]
                        ]
                    },
                    {
                        'id': 'contour-data-label',
                        'type': 'symbol',
                        'source': 'forest-data',
                        'source-layer': 'les_data',
                        "layout": {
                          "text-font": [
                            "Arial Unicode MS Regular"
                          ],
                          "text-size": {
                            "stops": [[14, 12], [16, 14]]
                          },
                          "text-max-width": {
                            "stops": [[14, 5], [16, 6]]
                          },
                          "text-field": "{les_name}\n{uch_les_name}\n{uroch_name}",
                          "text-padding": 10,
                          "text-line-height": 1,
                          "text-optional": true,
                          "visibility": "visible"
                        },
                        "paint": {
                          "text-color": "rgba(0, 0, 0, 1)",
                          "text-halo-color": "rgba(255,255,255,0.8)",
                          "text-halo-width": 1
                        },
                        "filter": [
                          "all",
                          ["==", "name", "Лесничество"],
                          ["==", "type_les", 1]
                        ],
                        "minzoom": 9
                    }
                ]
            }
        });

        map.on('click', (e) => {
            // Set `bbox` as 5px reactangle area around clicked point.
            const bbox = [
            [e.point.x - 5, e.point.y - 5],
            [e.point.x + 5, e.point.y + 5]
            ];
            // Find features intersecting the bounding box.
            const selectedFeatures = map.queryRenderedFeatures(bbox, {
            layers: ['contour-les'] // 'id'
            });
            const fips = selectedFeatures.map(
            (feature) => feature.properties.id
            );
            // Set a filter matching selected features by FIPS codes
            // to activate the 'counties-highlighted' layer.
            map.setFilter('contour-data-highlighted', ['in', 'id', ...fips]);
        });

        map.on('click', 'contour-les', (e) => {
            new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(
              // 'preferences: ' + e.features[0].properties.preferences + '<br>' +
                    // 'Квартал: ' + e.features[0].properties.kvartal + '<br>' +
                    'Лесничество: ' + e.features[0].properties.les_name+ '<br>' +
                    'Участковое лесничество: ' + e.features[0].properties.uch_les_name + '<br>' +
                    'Урочище: ' + e.features[0].properties.uroch_name + '<br>' +
                    'Координаты: ' + Number((e.lngLat.lng).toFixed(6)) + ', ' + Number((e.lngLat.lat).toFixed(6)))
            .addTo(map);
        });

        map.on('mouseenter', 'contour-les', () => {
        map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'contour-les', () => {
        map.getCanvas().style.cursor = '';
        });
        map.addControl(new mapboxgl.NavigationControl());
        const scale = new mapboxgl.ScaleControl({
        maxWidth: 100,
        unit: 'imperial'
        });
        map.addControl(scale);
        map.scrollZoom.setWheelZoomRate(1);
        scale.setUnit('metric');

    </script>
{% endblock %}
