{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
            <div id='map'></div>
        </div>
        <script>

            var map = new mapboxgl.Map({
    'container': 'map',
    'zoom': 12,
    'center': [73.420349, 61.263342], // New York
    'style': {
        'version': 8,
        'sources': {
            'carto-dark': {
                'type': 'raster',
                'tiles': [
                    "http://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"
                ]
            },
            'postgis-tiles': {
                'type': 'vector',
                'tiles': [
                    "http://192.168.14.142/geo/api/v1/data/smoothed_border.mvt?tile={z}/{x}/{y}"
                ]
            }

        },
        'layers': [{
            'id': 'carto-dark-layer',
            'type': 'raster',
            'source': 'carto-dark',
            'minzoom': 0,
            'maxzoom': 22
        },{
            'id': 'postgis-tiles-layer',
            'type': 'fill',
            'source': 'postgis-tiles',
            // ST_AsMVT() uses 'default' as layer name
            'source-layer': 'default',
            'minzoom': 0,
            'maxzoom': 22,
            'paint': {
                'fill-opacity': 0.5,
                'fill-color': '#E8FFFE',
                'fill-outline-color': '#FFFFFF',
            }
        }]
    }
});


map.addControl(new mapboxgl.NavigationControl());

        </script>
{% endblock %}



