{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="map"></div>


    <script>

        mapboxgl.accessToken = '{{token|safe}}';


        var map = new mapboxgl.Map({
            'container': 'map',

            'zoom': 5,
            'center': [71.460937, 61.804528], // New York
            'style': {
                'version': 8,
                'sources': {
                    'carto-dark': {
                        'type': 'raster',
                        'tiles': [
                            "https://a.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://b.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://c.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                            "https://d.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
                        ],
                        'tileSize': 256,
                    },
                    'kvartal-layer-tiles': {
                        'type': 'vector',
                        'tiles': [
                            'http://192.168.14.142/geo/layer/2/tile/{z}/{x}/{y}'
                        ],
                    },
                    // 'features-tiles': {
                    //     'type': 'vector',
                    //     'tiles': [
                    //         'http://192.168.14.142/geo/tiles/{z}/{x}/{y}'
                    //     ],
                    // }

                },
                "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
                'layers': [
                    {
                        'id': 'carto-dark-layer',
                        'type': 'raster',
                        'source': 'carto-dark',
                        'minzoom': 0,
                        'maxzoom': 22
                    },
                    {
                        'id': 'kvartal-tiles-layer',
                        'type': 'fill',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        'minzoom': 0,
                        'maxzoom': 22,
                        'paint': {
                          'fill-opacity': 0
                      },
                    },
                    {
                        'id': 'kvartal-tiles-layer-highlighted',
                        'type': 'fill',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        'paint': {
                        'fill-outline-color': 'rgba(255, 0, 0, 1)',
                        'fill-color': 'rgba(255, 0, 0, 1)',
                        'fill-opacity': 0.1
                        },
                        'filter': ['in', 'id', '']
                    },
                    {
                        'id': 'kvartal-tiles-layer-stroke',
                        'type': 'line',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        "paint": {
                          "line-color": "rgba(255, 0, 0, 1)",
                          "line-opacity": 0.8,
                          "line-width": 1,
                          "line-dasharray": [4, 4],
                          "line-gap-width": 0
                        },
                        "layout": {
                          "line-cap": "butt",
                          "line-join": "bevel"
                        },
                        "minzoom": 0,
                        "maxzoom": 22
                    },
                    {
                        'id': 'kvartal-tiles-label',
                        'type': 'symbol',
                        'source': 'kvartal-layer-tiles',
                        'source-layer': 'kvartal',
                        "layout": {
                          "text-font": [
                            "Arial Unicode MS Regular"
                          ],
                          "text-size": {
                            "stops": [[14, 12], [16, 14]]
                          },
                          "text-max-width": {
                            "stops": [[14, 5], [16, 6]]
                          },
                          "text-field": "{lesnichestvo}\n{uch_lesnichestvo}\n{urochishe}\n{kvartal}",
                          "text-padding": 10,
                          "text-line-height": 1,
                          "text-optional": true,
                          "visibility": "visible"
                        },
                        "paint": {
                          "text-color": "rgba(0, 0, 0, 1)",
                          "text-halo-color": "rgba(255,255,255,0.8)",
                          "text-halo-width": 1
                        },
                        "filter": [
                          "all",
                          ["==", "name", "kvartal-point"]
                        ],
                        "minzoom": 9
                    }
                ]
            }
        });

        map.on('click', (e) => {
            // Set `bbox` as 5px reactangle area around clicked point.
            const bbox = [
            [e.point.x - 5, e.point.y - 5],
            [e.point.x + 5, e.point.y + 5]
            ];
            // Find features intersecting the bounding box.
            const selectedFeatures = map.queryRenderedFeatures(bbox, {
            layers: ['kvartal-tiles-layer']
            });
            const fips = selectedFeatures.map(
            (feature) => feature.properties.id
            );
            // Set a filter matching selected features by FIPS codes
            // to activate the 'counties-highlighted' layer.
            map.setFilter('kvartal-tiles-layer-highlighted', ['in', 'id', ...fips]);
        });

        map.on('click', 'kvartal-tiles-layer', (e) => {
            new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML('Квартал: ' + e.features[0].properties.kvartal + '<br>' +
                    'Лесничество: ' + e.features[0].properties.lesnichestvo+ '<br>' +
                    'Участковое лесничество: ' + e.features[0].properties.uch_lesnichestvo + '<br>' +
                    'Урочище: ' + e.features[0].properties.urochishe + '<br>' +
                    'Координаты: ' + Number((e.lngLat.lng).toFixed(6)) + ', ' + Number((e.lngLat.lat).toFixed(6)))
            .addTo(map);
        });

        map.on('mouseenter', 'kvartal-tiles-layer', () => {
        map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'kvartal-tiles-layer', () => {
        map.getCanvas().style.cursor = '';
        });
        map.addControl(new mapboxgl.NavigationControl());
        const scale = new mapboxgl.ScaleControl({
        maxWidth: 100,
        unit: 'imperial'
        });
        map.addControl(scale);
        map.scrollZoom.setWheelZoomRate(1);
        scale.setUnit('metric');

    </script>
{% endblock %}
