{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}



{% block content %}


<div id="map" class="map"></div>
<form class="form-inline">
  <label>Action type &nbsp;</label>
  <select id="type" class="form-control">
    <option value="singleselect" selected>Single Select</option>
    <option value="multiselect">Multi Select</option>
  </select>
</form>
<script>
  var minzoom = [{% for x in styles %}'{{ x.minzoom|escapejs }}',{% endfor %}]
  var maxzoom = [{% for x in styles %}'{{ x.maxzoom|escapejs }}',{% endfor %}]
  var minScale = [{% for x in styles %}'{{ x.minScale|escapejs }}',{% endfor %}]
  var maxScale = [{% for x in styles %}'{{ x.maxScale|escapejs }}',{% endfor %}]
  var layer_id = [{% for x in styles %}'{{ x.layer_id|escapejs }}',{% endfor %}]
  var house_fill = `<img src="{% static 'images/house-door-fill.svg' %}" class="filterit" alt="">`
</script>
{% render_bundle 'olmap_a' %}
{% endblock %}
