{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}



{% block content %}


<div id="map" ></div>
<form class="form-inline" style="z-index: 1;">
  <label for="type" style="z-index: 1;">Action type &nbsp;</label>
  <select id="type" class="form-control" style="z-index: 1;">
    <option value="click" selected>Click</option>
    <option value="singleclick">Single-click</option>
    <option value="pointermove">Hover</option>
    <option value="altclick">Alt+Click</option>
    <option value="none">None</option>
  </select>
  <span id="status" style="z-index: 1;">&nbsp;0 selected features</span>
</form>
<script>
  var minzoom = [{% for x in styles %}'{{ x.minzoom|escapejs }}',{% endfor %}]
  var maxzoom = [{% for x in styles %}'{{ x.maxzoom|escapejs }}',{% endfor %}]
  var layer_id = [{% for x in styles %}'{{ x.layer_id|escapejs }}',{% endfor %}]
  var house_fill = `<img src="{% static 'images/house-door-fill.svg' %}" class="filterit" alt="">`
</script>
{% render_bundle 'olmap_a' %}
{% endblock %}
