{% load static %}

<div class="fixed-header">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="" class="logo"> {{ pagename }}
            </a>

        </div>
        <div id="inputForm" class="inputForm">
            <input id="longitude" placeholder="Долгота" type="text" value=""/>
            <input id="latitude" placeholder="Широта" type="text" value=""/>
            <input id="btn_addmarker" type="button" value="Перейти" />
        </div>
    </div>

</div>